:root{
	--white: #fff;
	--black: #36383F;
	--grey: #85888C;
}

/* Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--white);
	font-family: "Roboto", sans-serif;
	color: var(--black);


    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }

    /* Home Page */
    .videos__container {
        display: flex;
    
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .video {
            width: 310px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 30px;

            .video__thumbnail {
                width: 100%;
                height: 170px;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                  }
              }
              .video__details {
                display: flex;
                margin-top: 10px;

                .author{
                    img {
                        object-fit: cover;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        margin-right: 10px;
                      }
                }

                .title {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        color: rgb(3, 3, 3);
                        line-height: 18px;
                        font-size: 14px;
                        margin-bottom: 6px;
                      }

                      a,
                    span {
                        text-decoration: none;
                        color: rgb(96, 96, 96);
                        font-size: 14px;
                    }
                  }
              }
          }
      }

    /* About Page */
    #hero__banner{
        max-width: 1920px;

        .hero__image{
            width: 100%;
            object-fit: cover;
            height: unset;
        }
    }
    .about__content{
        margin-top: 50px;
        margin-bottom: 50px;

        h1{
            margin-bottom:25px
        }
        h2{
            margin-bottom: 25px;
        }
    }
    .sponsor__content{
        margin-top: 50px;

        p{
            margin-bottom: 12px;
        }
    }
    #js-sponsor-slider{
        

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2) !important;
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
    }
}



