:root{
	--white: #fff;
	--black: #36383F;
	--grey: #85888C;
    --mango: #FABC2A;
}
html {
    font-size: 62.5%;
}
/* Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--white);
	font-family: "Roboto", sans-serif;
	color: var(--black);

    /* swiper */
    .swiper {
        width: 100%;
        height: 100vh;

        .swiper-pagination-bullet{
            background-color: var(--mango);
            width: 20px;
            height: 20px;
        }

        .swiper-button-next, .swiper-button-prev{
            color: var(--mango) !important;

        }
        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            h2{
                color:var(--white);
            }
            p{
                color:var(--white);

            }
        }
    }
    /* Posts */
    .posts__container {
        display: grid;
        padding: 15px;

        .post {
            // width: 310px;
            // margin-left: 5px;
            // margin-right: 5px;
            // margin-bottom: 30px;

            .post__thumbnail {
                width: 100%;
                // height: 170px;
                position: relative;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }

            .post__details {
                display: flex;
                margin-top: 10px;

                .author{
                    img {
                        object-fit: cover;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        margin-right: 10px;
                    }
                }

                .title {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        color: rgb(3, 3, 3);
                        line-height: 18px;
                        font-size: 14px;
                        margin-bottom: 6px;
                      }

                      a,
                      span {
                        text-decoration: none;
                        color: rgb(96, 96, 96);
                        font-size: 14px;
                      }
                  }
              }
        }
      }


    .page__featured-videos_text{
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px;

        .videotuber__search{
            margin-top: 25px;
            input {
                width: 500px;
                padding: 10px;
                margin: 0;
                border-radius: 0;
                border: 1px solid var(--black);
                height: 100%;
            }
        }
    }

    dialog::backdrop {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
    }
    #dialog{
        box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
        border-radius: 10px;
        min-width: 80vw;
        margin: auto;
        border: none;
        aspect-ratio: 16/9;
        min-height: 80vh;

        .dialog__content{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: white;

            iframe{
                width: calc(100% - 50px);
                height: calc(80vh - 50px);
                margin: auto;
            }
        }
        span{
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            top: 10px;
            right: 5px;
            color: var(--black);
        }
    }

    .play__button {
        display: none;
        cursor: pointer;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: red;
        border-radius: 50% / 10%;
        color: #FFFFFF;
        font-size: 14px; /* change this to change size */
        height: 3em;
        margin: auto;
        padding: 0;
        position: absolute;
        text-align: center;
        text-indent: 0.1em;
        transition: all 150ms ease-out;
        width: 4em;
      }
      .twitch__button {
        display: none;
        cursor: pointer;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: red;
        border-radius: 50% / 10%;
        color: #FFFFFF;
        font-size: 14px; /* change this to change size */
        height: 3em;
        margin: auto;
        padding: 0;
        position: absolute;
        text-align: center;
        text-indent: 0.1em;
        transition: all 150ms ease-out;
        width: 4em;
      }
      .twitch__button:hover {
        background: darkorange;
      }
      .play__button:hover {
        background: darkorange;
      }
      
      .twitch__button::before { 
        background: inherit;
        border-radius: 5% / 50%;
        bottom: 9%;
        content: "";
        left: -5%;
        position: absolute;
        right: -5%;
        top: 9%;
      }
      .play__button::before { 
        background: inherit;
        border-radius: 5% / 50%;
        bottom: 9%;
        content: "";
        left: -5%;
        position: absolute;
        right: -5%;
        top: 9%;
      }
      
      .twitch__button::after {
        border-style: solid;
        border-width: 1em 0 1em 1.732em;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
        content: ' ';
        font-size: 0.75em;
        height: 0;
        margin: -1em 0 0 -0.75em;
        top: 50%;
        position: absolute;
        width: 0;
      }
      .play__button::after {
        border-style: solid;
        border-width: 1em 0 1em 1.732em;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
        content: ' ';
        font-size: 0.75em;
        height: 0;
        margin: -1em 0 0 -0.75em;
        top: 50%;
        position: absolute;
        width: 0;
      }
    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }

    /* Home Page */

    .videos__container {
        display: grid;
        padding: 15px;
        // flex-direction: row;
        // justify-content: space-around;
        // flex-wrap: wrap;

        .video {
            // width: 310px;
            // margin-left: 5px;
            // margin-right: 5px;
            // margin-bottom: 30px;

            .video__thumbnail {
                width: 100%;
                // height: 170px;
                position: relative;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                  }
              }
              .video__thumbnail:hover .play__button{
                display: block;
              }
              .video__thumbnail:hover .twitch__button{
                display: block;
              }
              .video__details {
                display: flex;
                margin-top: 10px;

                .author{
                    img {
                        object-fit: cover;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        margin-right: 10px;
                      }
                }

                .title {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        color: rgb(3, 3, 3);
                        line-height: 18px;
                        font-size: 14px;
                        margin-bottom: 6px;
                      }

                      a,
                    span {
                        text-decoration: none;
                        color: rgb(96, 96, 96);
                        font-size: 14px;
                    }
                  }
              }
          }
      }

    /* About Page */
    #hero__banner{
        max-width: 1920px;

        .hero__image{
            width: 100%;
            object-fit: cover;
            height: unset;
        }
    }
    .about__content{
        margin-top: 50px;
        margin-bottom: 50px;

        h1{
            margin-bottom:25px
        }
        h2{
            margin-bottom: 25px;
        }
    }
    .sponsor__content{
        margin-top: 50px;

        p{
            margin-bottom: 12px;
        }
    }
    #js-sponsor-slider{
        

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2) !important;
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
    }

    /* Contact Page */
    .contact__container{
        display: grid;
        margin-top: 80px;
        margin-bottom: 50px;
        grid-template-columns: 2fr 1fr;
        padding: 15px;

        .container__left{

            h1{
                margin-bottom: 25px;

            }
            p{
                margin-bottom: 25px;
            }

        }


    }

    .videotuber__posts{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .videotuber__container{
        margin-left: auto;
        display: grid;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 40px;
        max-width: 800px;
        justify-items: center;
        margin-right: auto;

        .videotuber__post_banner{
            width: 100%;

            h1{
                margin: 20px 0;
            }
            .videotuber__post_image{
               width: 100%; 
            }

            .videotuber__categories{
                margin: 20px 0;
                a{
                    text-decoration: none;
                    color: var(--black);
                }
            }
            .post__details{

                .author{
                    img{
                        object-fit: cover;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        margin-right: 10px; 
                    }
                }
            }
        }
        .videotuber__post_content{
            margin-top: 50px;
            margin-bottom: 50px;

            p{
                font-size:clamp(1.95rem, 1.22vw + 1.65rem, 3.11rem);
                line-height: 1.5;
                text-align: justify;
            }
        }

        .videotuber__post_comments{
            width: 100%;

            #comments{

                .comments_title{
                    font-size:clamp(1.95rem, 1.22vw + 1.65rem, 3.11rem);
                    margin: 20px 0;
                }

                .comments_list{
                    margin: 20px 0;

                    li{
                        .comment-body{
                            display: grid;
                            grid-template-rows: 1fr 1fr 1fr;
                            font-family: 'Roboto';
                            row-gap: 20px;

                            .comment-author{
                                grid-column: 1 / 1;
                                grid-row: 1 / 2;

                                .fn{
                                    color: var(--black);
                                    font-size: 1.6rem;
                                    margin-right: 6px;
                                    font-style: normal;
                                    margin-left: 4px;
                                }
                                .says{
                                    color: var(--black);
                                    font-size: 1.6rem;
                                }
                            }
                            
                            .comment-meta{
                                grid-row: 1/2;
                                align-self: center;
                                grid-column: 1 / 1;
                                margin-left: 46px;
                                margin-bottom: 10px;

                                a{
                                    text-decoration: none;
                                    color: var(--black);
                                    font-size: 1.6rem;
                                }
                            }

                            p{
                                grid-column: 1 / 2;
                                grid-row: 2 / 3;
                                font-size: 1.6rem;
                                margin: 10px 0;
                                display: block;  
                            }

                            .reply{
                                margin-top: 16px;
                                grid-column: 1 / 2;
                                grid-row: 3 / 4;
                                
                                a{
                                    border-radius: 6px;
                                    padding: 12px 62px;
                                    font-size: 1.6rem;
                                    background-color: var(--mango);
                                    color: var(--white);
                                    border: 2px solid var(--black); 
                                }
                            }
                        }
                    }
                }

                .comment-respond{
                    .comment-reply-title{
                        font-size: clamp(1.95rem, 1.22vw + 1.65rem, 3.11rem);
                        margin: 20px 0;
                    }

                    .comment-form{

                        .comment-notes,.logged-in-as{
                            font-size: clamp(1.95rem, 1.22vw + 1.65rem, 2rem);
                        }

                        .comment-form-comment{
                            font-size: clamp(1.95rem, 1.22vw + 1.65rem, 2rem);

                            textarea{
                                border-radius: 6px;
                                color: var(--white);
                                width: 100%;
                                border: 2px solid var(--black);
                                background-color: var(--mango); 
                            }
                        }

                       .comment-form-author,
                       .comment-form-email,
                       .comment-form-url,
                       .comment-form-cookies-consent{
                        font-size: clamp(1.95rem, 1.22vw + 1.65rem, 2rem);
                        margin: 20px 0;

                        input{
                            padding: 6px;
                            border: 2px solid var(--black);
                            background-color: var(--mango); 
                            color: var(--white);
                        }
                       }
                       .form-submit{
                        input{
                            border-radius: 6px;
                            padding: 12px 62px;
                            font-size: 1.6rem;
                            background-color: var(--mango);
                            color: var(--white); 
                        }
                       }
                    }
                }
            }
        }
    }
}



