.padding_xs{
    padding: 4px;
}
.padding_s{
    padding: 8px;
}
.padding_m{
    padding: 12px;
}
.padding_l{
    padding: 16px;
}
.padding_xl{
    padding: 20px;
}
.padding_xs{
    padding: 4px;
}
.padding_s{
    padding: 8px;
}
.padding_m{
    padding: 12px;
}
.padding_l{
    padding: 16px;
}
.padding_xl{
    padding: 20px;
}
.font-size-sm{
    font-size:clamp(0.8rem, 0.19vw + 0.75rem, 0.98rem);
}
.font-size-base{
    font-size:clamp(1rem, 0.33vw + 0.92rem, 1.31rem);
}
.font-size-md{
    font-size:clamp(1.25rem, 0.53vw + 1.12rem, 1.75rem);
}
.font-size-lg{
    font-size:clamp(1.56rem, 0.81vw + 1.36rem, 2.33rem);
}
.font-size-xl{
    font-size:clamp(1.95rem, 1.22vw + 1.65rem, 3.11rem);
}
.font-size-xxl{
    font-size:clamp(2.44rem, 1.79vw + 1.99rem, 4.14rem);
}
.font-size-xxxl{
    font-size:clamp(3.05rem, 2.6vw + 2.4rem, 5.52rem);
}
.center{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
// video grid
.grid-1 .videos__container{
    display:grid;
    grid-template-columns: auto;
}
.grid-2 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.grid-3 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-5 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-6 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
.grid--tablet1 .videos__container{
    display:grid;
    grid-template-columns: auto;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet2 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr !important;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet3 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet4 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet5 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet6 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
}

@media screen and (max-width: 767px) {
.grid--mobile1 .videos__container{
    display:grid;
    grid-template-columns: auto !important; 
}
}
@media screen and (max-width: 767px) {
.grid--mobile2 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr; 
}
}
@media screen and (max-width: 767px) {
.grid--mobile3 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
}
@media screen and (max-width: 767px) {
.grid--mobile4 .videos__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
}
//post grid
.grid-1 .posts__container{
    display:grid;
    grid-template-columns: auto;
}
.grid-2 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.grid-3 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-5 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-6 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
.grid--tablet1 .posts__container{
    display:grid;
    grid-template-columns: auto;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet2 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr !important;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet3 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet4 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet5 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}
@media screen and (max-width: 1024px) {
.grid--tablet6 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
}

@media screen and (max-width: 767px) {
.grid--mobile1 .posts__container{
    display:grid;
    grid-template-columns: auto !important; 
}
}
@media screen and (max-width: 767px) {
.grid--mobile2 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr; 
}
}
@media screen and (max-width: 767px) {
.grid--mobile3 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
}
@media screen and (max-width: 767px) {
.grid--mobile4 .posts__container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
}


.videos__container,.posts__container{
    column-gap:20px;
    row-gap:20px;
}