
/* Hero section */
.headline__hero{
	color: var(--white);
	margin: auto;
}
.page__hero-section{
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	max-height: 1000px;
	padding: 40px;

}
.inner__content{
	display: grid;
	width: 100%;
	height: 100%;
}

/* Featured Videos */

.page__featured-videos{
	margin-top: 40px;
	margin-bottom: 40px;
	color: var(--white);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 10px;
}
.page__video-card{
	padding: 16px;
	background-color: var(--black);
}
.page__video-card img{
	width: 150px;
}
/* Buttons */
.primary__button{
	margin: auto;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	color: var(--white);
	border-radius: 16px;
	padding: 16px 32px;
	background-color: #ff0000;
	cursor: pointer;
	box-shadow:
		2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
		6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
		12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
		22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
		100px 100px 80px rgba(0, 0, 0, 0.07);

}

/* swiper */
.swiper {
		width: 100%;
		height: 1080px;
}
.swiper-slide{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.swiper-slide h2{
	color:white;
}
.swiper-slide p{
	color:white;
}
#js-main-slider .swiper-pagination-bullet{
	background-color: white;
	width: 20px;
	height: 20px;
}
.swiper-button-next, .swiper-button-prev{
	color:white !important;
}